@charset "UTF-8";

*{
	margin:0;
	padding:0;
}
html{font-size:20px;} 	/* 생략하면 16px */
body{
	color:#333;
	font-size:1rem;
}
ul{
	list-style: none;
}
a, a:link{
	text-decoration: none;
	color:inherit;
}
header{
	border-top:2px solid black;
	background:#f6f5ef;
	overflow: hidden;
	height: 120px;
}
.wrap{
	max-width:1050px;
	margin:0 auto;
	display: flex;
	justify-content: space-between;
	padding:0; 
}
.site-logo{
	padding:1.35rem;
}
.nav-top{
	margin:1rem 0;
	font-size:13px;
	align-items: center;
	justify-content: center;
}
.nav-top a:hover{
	text-decoration: underline;
}
.nav-top, .nav-bottom{
	display: flex;
}
.nav-top li::after{
	content: '';
	display: inline-block;
	width: 1px;
	height: 50%;
	background: #ccc;
	margin:0 10px;
}
.nav-top li:nth-child(4)::after{
	width: 0;		/* display:none; */
}
.nav-top li:nth-child(5)::after{
	display: none;
}
.nav-top li:nth-last-child(1){
	position: relative;
}
/* 검색창, 검색버튼 */
[type=search]{
	width:30px;
	height: 30px;
}
[type=image]{
	position: absolute;
	top:5px;
	left:5px;
}
.nav-bottom li:hover{
	background: #3a3a3a;
	color:yellowgreen;
	text-decoration: underline;
	height: 80px;
}
.nav-bottom a{
	/* text-transform: uppercase; 전부 다 대문자 */
	padding:.5rem 1rem;
	display: block;
	font-size:16px;
}
.post-it{
	position: fixed;
	width:140px;
	height: 214px;
	top:200px;
	right:3%;
}
.beverage{
	display: flex;
	justify-content: center;
	height: 577px;
	column-gap: 2rem;
}
.b1{
	align-self: center;		/* self 하나만 적용 */
}
.more{
	border:2px solid white;
	border-radius: 3px;
	color:white;
	width:35%;
	margin:2rem auto;
	text-align: center;
	padding:.5rem;
	font-size:.8rem;
}
.more:hover{
	background: white;
	text-decoration: underline;
	color:yellowgreen;
	transition:all .3s ease-in-out;
}
.b2{
	margin-top: 3rem;
}
.b3{
	align-self: center;
}
.b4{
	padding-top:3rem;
}
.promo-bg{
	display: flex;
	height:700px;
	position: absolute;
	z-index: -1;
	width: 100%;
	top:0;
}
.left-bg{
	background: yellowgreen;
	flex:5.5;
}
.right-bg{
	background: skyblue;
	flex:4.5;
}
.notice{
	display: flex;
	height: 50px;
	overflow: hidden;
}
.news-area{
	flex:5.5;
	background: black;
	color:white;
}
.area-items{
	display: flex;
	align-items:center;
	float:right;
}
.area-items h2{
	font-size: 1rem;
}
.area-items button{
	margin: 0 1rem 0 0;
	font-size:1.25rem;
	width:36px;
	height: 36px;
	background: none;
	border:1px solid #ccc;
	border-radius: 50%;
	color:#ccc;
}
.area-items ul{
	margin: 0 0 0 1rem;
	height:50px;
	overflow: hidden;
}
.area-items ul li{
	margin:15px 0;
}
.promo-area{
	flex:4.5;
	background: #f2f2f2;
}
.promo-items{
	display: flex;
	align-items:center;
	margin:10px 0 0 5rem;	/* 기본값 : 16px */
	float:left;
}
.promo-items h2{
	font-size: 1rem;
	margin:0 4rem 0 0;
}
.promo-items button{
	border:0;
	background: none;
	width:30px;
	height: 30px;
}

.benefit{
	background: #1e3932;
	color:white;
	font-size:.875rem;
}
.benefit .wrap{
	column-gap: 1.8rem;
}
.reward-logo{
	flex:1;
}
.reward-details{
	flex:4;
}
.membership{
	position: relative;
	border-bottom: 1px solid #4b615b;
	padding-bottom:1rem;
	margin-bottom:1rem;
	margin-top:1rem;
}
.membership p{
	letter-spacing: -1px;	/* 자간 */
}
.membership p:nth-child(1){
	margin-bottom: 1rem;
}
.membership p:nth-child(2){
	font-size:.875rem;
}
.membership p:nth-child(3){
	font-size:.875rem;
}
.btns{
	display:flex;
	position: absolute;
	right:0;
	bottom:2rem;
	font-size:.725rem;
	column-gap: 1rem;
}
.btns li:nth-child(1) a{
	color:white;
	border:2px solid #00704a;
	background: #00704a;
	padding:.6rem 1rem;
	border-radius: .15rem;
}
.btns li:nth-child(2) a{
	color:white;
	border:2px solid white;
	padding:.6rem 1rem;
	border-radius: .15rem;
}
.giftcard{
	position: relative;
}
.giftcard p{
	font-size:.7rem;	/* 20px 기준에서 14px로 단위 환산 */
	letter-spacing:-1px;
}
.gift-button{
	position: absolute;
	right:0;
	top:.5rem;
}
.gift-button a{
	color:white;
	border:2px solid white;
	font-size:.725rem;
	padding:.6rem 1.7rem;
	border-radius: .15rem;
}
.new-beans{
	padding:3rem 0;
	background: url("../images/2022_Summer2_bean_bg.jpg") no-repeat center / cover;	
}
.new-beans .wrap{
	justify-content: space-between;
}
.beans-text{
	color:white;
	margin:0 1rem 0 0;
	letter-spacing:-1px;	/* 자간 : 글자와 글자사이 간격 */
	line-height: 1.5; 		/* 행간 : 행과 행의 간격 */
}
.beans-text p:nth-child(1){
	font-size:1rem;
	color:#f3f3f3;
}
.beans-text p:nth-child(2){
	font-size:1.25rem;
	color:#fff;
}
.beans-text p:nth-child(3){
	font-size:.825rem;
	color:#efefef;
}
.beans-text .more{			/* p.more(종속),  p .more */
	margin:1rem 0;
}
.beans-text .more:hover{
	color:#00704a;
}
.reserve-bg{
	height:400px;
	background: url("../images/reserve_2022_indonesia_leaf1.png") no-repeat left bottom,
	url("../images/reserve_2022_indonesia_leaf2.png") no-repeat right bottom,
	url("../images/reserve_2022_indonesia_visual3.png") no-repeat 50%,
	url("../images/reserve_2022_indonesia_visual_bg.jpg") no-repeat right bottom;
}
.reserve-text{
	margin:4rem 0 0 0;
}
.reserve-text .more{
	border:2px solid #b9813e;
	color:#b9813e;
	width:25%;
}
.reserve-text .more:hover{
	color:white;
	background: #b9813e;
}
.favorite-bg{
	height: 700px;
	background: url("../images/fav_prod_bg_new.jpg") no-repeat fixed center/cover;		/* background-attachment: fixed; */
}
.favorite .wrap{
	height: 700px;
	align-items: center;
	justify-content: space-between;
	column-gap: 2rem;
}
.favorite-text{
	text-align: right;	/* 오른쪽으로 정렬 */
}
.favorite-text .more{
	margin:2rem 0 2rem 52%;
}
.favorite-text .more:hover{
	color:#666;
}
.favorite-img{
	width:70%;
}
.favorite-img img{
	width:100%;
	object-fit:cover;
}
.magazine-bg{
	height:400px;
	background: url("../images/reserve_bg_pc.png") no-repeat 55% 130%;	/* %(좌우) %(상하) */
}
.magazine-wrap{
	max-width:1050px;
	margin:0 auto;
	display: flex;
	justify-content: space-between;
	padding:0; 
	align-items: center;
}
.magazine-text{
	margin:2rem 0 0 0;
}
.magazine-text .more{
	border:2px solid black;
	color:black;
	width:25%;
	margin:2rem 0 2rem 50%;
}
.magazine-text .more:hover{
	background: black;
	color:white;
}
.magazine-img{
	width:30%;
	margin:0 10% 0 0;
}
.magazine_img img{
	width:100%;
	object-fit:cover;
}
.place{
	height:400px;
	background: url("../images/store_exp_img03.png") no-repeat center -20%,
	url("../images/store_bg.jpg") no-repeat center/cover;
}
.place .wrap{
	padding-top:0;
}
.place-img{
	width:450px;
	height:380px;
	order:0;					/* 낮은 숫자부터 왼쪽에서 */
	background: url("../images/store_exp_img01.png") no-repeat right bottom,
	url("../images/store_exp_img02.png") no-repeat;
}
.place-text{
	order:1;
	align-self: flex-end;
	margin-left: 2rem;
}
.place-text .more{
	margin:2rem 0 2rem 52%;
	border:2px solid black;
	color:black;
}
.place-text .more:hover{
	color:white;
	background: black;
}
footer{
	background: #2C2A29;
}
footer > .wrap:nth-child(1){
	background: url("../images/footer_logo.png") no-repeat right center;
}
.xnb{
	width:90%;
	display: flex;
	justify-content: space-between;
	font-size:.725rem;
	color:white;
	line-height: 1.8;
}
/*
.xnb > li > a{
	text-transform: uppercase;
}
*/
.wrap-wide{
	background: #282828;
}
.records{
	display: flex;
}
.block{
	display: block;
}
.links{
	display: flex;
	color:white;
	font-size:.6rem;
	justify-content: center;
}
.links > li::after{
	content:'';
	display: inline-block;
	width:1px;
	height: 100%;
	background: gray;
	margin:0 5px;
	position: relative;
	top:3px;
}
.links > li:nth-last-child(1)::after{
	background: transparent;		/* 투명 */			
}
.hypertext{
	display: flex;
	margin:1rem 0;
	justify-content: center;
	column-gap: 1rem;
}
.hypertext > li a{
	border:2px solid white;
	border-radius:3px;
	padding:5px 15px;
	color:white;
	font-size:.725rem;
}
.hypertext > li a:hover{
	text-decoration: underline;
}
.info{
	color:white;
	font-size:.725rem;
	text-align: center;
	line-height: 2;
}





















@media screen and (max-width: 480px){
	html{font-size:16px;}
}






















































